<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloword3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sport"
        android:label="校园助手"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fenleiActivity">
        </activity>


        <activity android:name=".kechengbiaoActivity">
        </activity>


        <activity android:name=".qushiActivity">
        </activity>

        <activity android:name=".yundongActivity">
        </activity>

        <activity android:name=".biaobaiActivity">
        </activity>

        <activity android:name=".tiaozaoActivity">
        </activity>

        <activity android:name=".tucaoActivity">
        </activity>


    </application>

</manifest>